html {
  background: url("images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.question_text {
 font-size: 22px;
 color: white;
}

body {
 font-size: 22px;
 color: white;
}

.player_card {
    font-size: 36px;

}