{% extends "base_generic.html" %}

{% block content %}
<h3 style="margin-top: 30px">Players</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="search" id="search-box">
              <div class="input-container">
                <input id='user-input' type='search' placeholder='Search players'/>
              </div>
            </div>
            <div id="replaceable-content" >
                {% include 'players_list.html' %}
            </div>
        </div>
        <div id="player-card" class="col-8">
            {% include 'player_card.html' %}
        </div>
    </div>
</div>
{% endblock %}
